@page
@model StudentNotesRazorPages.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>StudentNotesList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container ">
        <h2 class="text-center text-warning mt-4">Student Exam Notes</h2>
        <a href="/create" class="btn btn-success mt-2">NewStudent</a>
        <table class="table table-bordered my-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Class</th>
                    <th>CourseName</th>
                    <th>MidtermExam</th>
                    <th>FinalExam</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Class</td>
                        <td>@item.CourseName</td>
                        <td>@item.MidtermExam</td>
                        <td>@item.FinalExam</td>
                        <td><a href="\edit?id=@item.id" class="btn btn-warning">Edit</a></td>
                        <td><a href="\delete?id=@item.id" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>